<div id="block">
  <div id ="tiles">
    <%= render partial: "tiles"%>
  </div>
  <div class="color">
    Select color: <input class="colors">
  </div>
  <div class="button">
    <button onclick="updateTileColors();">Ok</button>
    <button>Cancel</button>
  </div>
</div>

